
.top {
  height: 45px;
  line-height: 45px;
  display: flex;
  background: #fff;
  border-bottom: 5px solid #efeff4;
  position: absolute;

}

.seacher_input {
  margin-top: 3px;
  margin-bottom: 3px;
  flex: 1;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.seacher_btn {
  width: 29px;
  height: 29px;
  padding: 8px;
  background: url("../../assets/images/search.png");
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #efeff4;
}

.seacher_btn:active {
  width: 29px;
  height: 29px;
  padding: 8px;
  background: url("../../assets/images/search_p.png");
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center;
}

.histroy_btn {
  border-left: 1px solid #efeff4;
  width: 29px;
  height: 29px;
  padding: 8px;
  background: url("../../assets/images/menu.png");
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center;
}
.histroy_btn:active {
  border-left: 1px solid #efeff4;
  width: 29px;
  height: 29px;
  padding: 8px;
  background: url("../../assets/images/menu_p.png");
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center;
}

.histroy_btn_p {
  border-left: 1px solid #efeff4;
  width: 29px;
  height: 29px;
  padding: 8px;
  background: url("../../assets/images/menu_p.png");
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center;
}

/* 电影list */

.film {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #efeff4;
}

.film:active {
  background: #ECECEC;
}

.vodimage {
  height: 92.8px;
}

.vodimage img {
  margin-right: 10px;
  width: 70px;
  height: 100%;
}

.detail {
  flex: 1;
  position: relative;
  top: 0;
  left: 0;
}

.name {
  display: flex;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name div {
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.times {
  position: absolute;
  right: 0px;
  color: #3f9de7;
  font-size: 14px;
}

.star-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.type {
  font-size: 14px;
  margin-bottom: 6px;
  color: #666;
  width: auto;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 14px;
  color: #666;
  width: auto;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  color: #da251c;
}

.star {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  width: auto;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.buy {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  background: red;
  font-size: 10px;
  width: 50px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.buy:active {
  background: #ECECEC;
}

.play {
  float: right;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #3f9de7;
  font-size: 10px;
  width: 50px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-radius: 5px;
}

.play:active {
  background: #ECECEC;
}

.loading{
  height: 80px;
  /* line-height: 80px; */
  align-items: center;
  text-align: center;
}
